<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net451" />
  <package id="NHibernateProfiler" version="2.0.2216.0" targetFramework="net451" />
  <package id="System.Data.SQLite" version="1.0.89.0" targetFramework="net451" />
  <package id="WebActivator" version="1.4.4" targetFramework="net451" />
</packages>